<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet"
        />
        <style>

            @page {
                size: LEGAL landscape;
                margin: 12mm;
                }
                @font-face {
                    font-family: 'HindiFont';
                    src: url('../../../../public/NotoSansDevanagari-VariableFont_wdth\,wght.ttf') format('truetype');
                }

                body {
                font-family: HindiFont, Arial, Helvetica, sans-serif;
                font-size: 9px;
                }

                table {
                border-collapse: collapse;
                width: 100%;
                border: 0.5px solid #D3D3D3;
                table-layout: fixed;
                }
                .meta td {
                    padding: 5px;
                    font-size: 14px;
                }
                th {
                font-weight: bold;
                background: #f2f2f2;
                }
                tr {
                    height: 28px;
                }
                th, td {
                border: 0.5px solid #D3D3D3;
                padding: 5px;
                text-align: center;
                white-space: nowrap;
                }

                .label {
                width: 45px;
                text-align: left;
                font-weight: bold;
                }

                .day {
                    width: 100%;
                    font-size: 12px;
                    font-weight: bold;
                }

                .employee-block {
                margin-bottom: 10px;
                page-break-inside: avoid;
                }

            .present { color: green; font-weight: bold; }
            .absent  { color: red; font-weight: bold; }
            .sunday {color: #0dcaf0; font-weight: bold}
        </style>
    </head>
    <body>
        <div class="employee-block">

            <% employeesData.forEach(employee => { %>
                <div style="margin-bottom: 20px;">
                    <table class="meta">
                        <tr >
                            <td style="font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 140px;"><%= employee.name %></td>
                            <td style="font-weight: bold;">तनख़्वाह प्रति दिन: <%= employee.salaryPerDay %></td>
                            <td class="present">हाजिरी: <%= employee.totalPresent %></td>
                            <td class="absent">गैरहाजिर: <%= employee.totalAbsent %></td>
                            <td class="sunday">Sunday: <%= employee.sundayPresentCount %></td>
                            <td>टोटल हाजिरी: <%= employee.totalWork %></td>
                            <td>ओवर टाइम: <%= employee.totalOT %></td>
                            <td style="font-weight: bold;">महीना: <%= employee.month %></td>
                            <!-- <td style="font-weight: bold;">Year: <%= employee.year %></td> -->
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td class="label"></td>
                            <% for (let d = 1; d <= 31; d++) { %>
                            <td class="day"><%= d %></td>
                            <% } %>
                        </tr>
                         <tr>
                           <td class="label"></td>
                            <% employee.days.forEach(d => { %>
                                <td class="day"><%= d.dayName %></td>
                            <% }) %>
                        </tr>

                        <tr>
                           <td class="label">भीतर</td>
                            <% employee.days.forEach(d => { %>
                                <td class="day"><%= d.formattedCheckinTime %></td>
                            <% }) %>
                        </tr>

                        <tr>
                           <td class="label">बाहर</td>
                            <% employee.days.forEach(d => { %>
                                <td class="day"><%= d.formattedCheckoutTime %></td>
                            <% }) %>
                        </tr>
                        <tr>
                           <td class="label">घंटे</td>
                            <% employee.days.forEach(d => { %>
                                <td class="day"><%= d.workingHour %></td>
                            <% }) %>
                        </tr>
                        <tr>
                           <td class="label">ओवर टाइम</td>
                            <% employee.days.forEach(d => { %>
                                <td class="day"><%= d.overtime %></td>
                            <% }) %>
                        </tr>
                        <tr>
                           <td class="label">स्टेटस</td>
                            <% employee.days.forEach(d => { %>
                                <td class="day
                                <%= d.status ? 'present' : 'absent' %>">
                                <%= d.status ? 'P' : 'A' %>
                                </td>
                            <% }) %>
                        </tr>
                    </table>
                </div>

            <% }) %>





        </div>


    </body>
</html>